@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our school records!</h1>
    <p>See our <a href="/Teacher/List">teachers</a>, our <a href="/Class/List">classes</a>, and our <a href="/Student/List">students</a></p>
</div>

