
@{
    ViewBag.Title = "New";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="../js/TeacherFormValidation.js"></script>
    <title>New</title>
</head>
<body>
    <h2>Add a new Teacher</h2>

    <form class="form" name="NewTeacher" method="POST" action="/Teacher/Create">
        <div>
            <label for="FirstName">First Name:</label>
            <input type="text" name="FirstName" id="FirstName" />
            <div id="error-firstName">Please enter a first name!</div>
        </div>
        <div>
            <label for="LastName">Last Name:</label>
            <input type="text" name="LastName" id="LastName" />
            <div id="error-lastName">Please enter a last name!</div>
        </div>
        <div>
            <label for="EmployeeNumber">Employee #:</label>
            <input type="text" name="EmployeeNumber" id="EmployeeNumber" />
            <div id="error-employeeNum">Please enter an employee number!</div>
        </div>
        <div>
            <label for="Salary">Salary: $</label>
            <input type="number" min="0" step="any" name="Salary" id="Salary" />
            <div id="error-salary">Please enter a salary!</div>
        </div>
        <div>
            <button id="add-new" type="submit" value="Add Teacher">Add Teacher</button>
        </div>

    </form>
    <div><a href="/Teacher/List"> &#8592; Back to all teachers</a></div>

</body>
</html>