html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #FAEBD7;
}
h1 {
    text-align:center;
}
h3 {
    font-weight: 300;
    font-size:1em;
}


button:hover {
    color: #EFEFEF;
    background-color: gray;
}

button {
    border-style:solid;
    border-color: gray;
    border-radius: 10px;
    color:gray;
    border-width: 1px;
}

main {
    background-color: #CAEBF2;
    padding: 2em 5em 5em 5em;
    border-style: none;
    border-radius: 15px;
}

header {
    background-color: #8ab7c1 !important;
}

footer {
    background-color: #8ab7c1;
}

#result-list {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
}

#result-list a {
    text-decoration: none;
    color: black;
}

.list-item {
    padding: 1em;
    margin: 0em;
    background-color: #FBD29C;
    border-radius: 15px;
}

.list-item a {
    text-decoration: none;
    color:black;
}

.list-item:hover {
    background-color: #faebd7;
 }

#search-bar {
    display: flex;
    margin-top: 1em;
    gap: 1em;
    align-items: baseline;
    justify-content: center;
}

.show-info {
    padding: 1em;
    margin: 2em;
    background-color: #FBD29C;
    border-radius: 15px;
    border-style:solid;
    max-width: fit-content;
}

#check-us-out {
    margin-top:2em;
}

#error-firstName, #error-lastName, #error-employeeNum, #error-salary {
    display: none;
}

#delete-teacher {
    padding: 1em;
    margin: 2em;
    background-color: #EE5A70;
    border-radius: 15px;
    border-style: solid;
    max-width: fit-content;
}

#delete-teacher a {
    text-decoration: none;
    color: black;
}

#delete-teacher:hover {
    text-decoration: underline;
    background-color: #b93044;
}

#confirm-remove {
    margin-bottom: 15px;
    background-color: #EE5A70;
    border: 1px solid black;
}

.red {
    color: red;
}

.form {
    display: flex;
    flex-flow: column;
    gap: 1em;
}