@model IEnumerable<School.Models.Student>
@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student List</title>
</head>
<body>
    <h2>Meet Our @DateTime.Now.Year Students!</h2>
    <h3>Search by first name or last name:</h3>
    <form action="/Student/List" method="GET">
        <input type="text" name="SearchKey" />
        <button>Search</button>
    </form>

    @{
        foreach (School.Models.Student Student in Model)
        {
            <div><a href="/Student/Show/@Student.StudentId">@Student.FirstName  @Student.LastName</a></div>
        }

    }


</body>
</html>