@model IEnumerable<School.Models.Student>
@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student List</title>
</head>
<body>
    <h1>Meet Our @DateTime.Now.Year Students!</h1>
    <div id="search-bar">
        <h3>Search by first name or last name:</h3>
        <form action="/Student/List" method="GET">
            <input type="text" name="SearchKey" />
            <button>Search</button>
        </form>
        </div>
        <div id="result-list">
            @{
                foreach (School.Models.Student Student in Model)
                {
                    <a href="/Student/Show/@Student.StudentId"><div class="list-item">@Student.FirstName  @Student.LastName</div></a>
                }

            }
        </div>

</body>
</html>